# Android
local.properties
*.apk

# Android Studio/InteliJ IDEA
.idea
*.iml

# Gradle stuff
.gradle
build
/captures
/app/dev
/app/release

# eclipse project stuff
.settings
.project
.classpath
.metadata

# vim
*.swp
*.swo
