# Android
local.properties
*.apk

# Android Studio/InteliJ IDEA
.idea
*.iml

# Gradle stuff
.gradle
build
gradle.properties

# eclipse project stuff
.settings
.project
.classpath
.metadata

# vim
*.swp
*.swo
