# Options to speed up build
org.gradle.daemon=true

# Key info for creating the development release in the android market
#devStorefile=/path/to/keystore
#devStorePassword=keystorepassword
#devKeyAlias=devkeyalias
#devKeyPassword=devkeypassword

# Key info for creating real releases
#releaseStorefile=/path/to/keystore
#releaseStorePassword=keystorepassword
#releaseKeyAlias=releasekeyalias
#releaseKeyPassword=releasekeypassword
