<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ubergeek42.WeechatAndroid">

    <uses-sdk tools:overrideLibrary="android.support.v14.preference" />

    <permission
        android:name="${applicationId}.permission.PING_ACTION"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="${applicationId}.permission.PING_ACTION"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
        this can be used to create persistent dialogs for rare errors for debug purposes
        Utils.checkDrawOverlayPermission() needs to be called to get permission from user
        Utils.showSystemAlert() then can be used to display the dialog
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    -->

    <application
        android:name=".Weechat"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_kitty"
        android:label="@string/app_name"
        android:theme="@style/Weechat"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <service android:name=".service.RelayService" />
        <activity
            android:name=".WeechatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShareTextActivity"
            android:theme="@style/WeechatTranslucent"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".WeechatAboutActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:name=".service.BootUpReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.SyncAlarmReceiver" />
        <receiver android:name=".relay.Hotlist$InlineReplyReceiver" />
        <receiver android:name=".service.Notificator$NotificationDismissedReceiver" />
    </application>
</manifest>
