# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push to any branch
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - run: ./gradlew test

      - run: ./releases/travis_build.sh
        env:
          DEVKEYPASSWORD: ${{secrets.DEVKEYPASSWORD}}
          DEVSTOREFILE: /home/travis/build/ubergeek42/weechat-android/releases/android.jks
          DEVSTOREPASSWORD: ${{secrets.DEVSTOREPASSWORD}}
          encrypted_6a3fa2e8cfe5_iv: ${{secrets.encrypted_6a3fa2e8cfe5_iv}}
          encrypted_6a3fa2e8cfe5_key: ${{secrets.encrypted_6a3fa2e8cfe5_key}}
          encrypted_b71541c3ad56_iv: ${{secrets.encrypted_b71541c3ad56_iv}}
          encrypted_b71541c3ad56_key: ${{secrets.encrypted_b71541c3ad56_key}}
          GOOGLEPLAY_ACCT_EMAIL: ${{secrets.GOOGLEPLAY_ACCT_EMAIL}}
          S3_ACCESS_KEY: ${{secrets.S3_ACCESS_KEY}}
          S3_BUCKET: weechat-android.ubergeek42.com
          S3_SECRET_KEY: ${{secrets.S3_SECRET_KEY}}
